@page "/employees"
@using EmployeePortal.Components.CustomComponents
@inject IEmployeeService EmployeeService
@inject IDepartmentService DepartmentService
@inject IDesignationService DesignationService
@rendermode InteractiveServer

<style>

    .filter-select {
        width: 150px;
    }
    .table-container {
        width: 100%;
        overflow-x: auto;
        border: 1px solid #e5e7eb;
        border-radius: 10px;
        background: white;
    }
    .employee-table {
        min-width: 1200px;
    }

        .employee-table th,
        .employee-table td {
            white-space: nowrap;
            vertical-align: middle;
            position:relative;
        }

    .employee-table tbody tr {
        max-height: 40px !important;
    }

    .employee-table tbody td {
        padding: 4px 8px;
    }

    .emp-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid #f1f5f9;
        object-fit: cover;
    }

    .action-column {
        position: sticky;
        right: 0;
        background: white;
        min-width: 120px;
        text-align: center;
        box-shadow: -2px 0 4px rgba(0,0,0,0.05);
        z-index: 10;
    }

    .action-buttons {
        display: flex;
        justify-content: flex-end;
    }

    .btn-icon {
        width: 32px;
        height: 32px;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .edit-btn {
        background: #eef4ff;
        color: #f59e0b;
    }

        .edit-btn:hover {
            background: #dbe7ff;
        }

    .delete-btn {
        background: #fff1f2;
        color: #ef4444;
    }

        .delete-btn:hover {
            background: #ffe4e6;
        }

    .badge {
        font-size: 12px;
        padding: 6px 8px;
        border-radius: 6px;
        font-weight: 500;
    }

    .active-badge {
        background: #dcfce7;
        color: #16a34a;
    }

    .inactive-badge {
        background: #fee2e2;
        /* color: #dc2626; */
        color:black;
    }

    .page-number {
        margin: 0 6px;
        cursor: pointer;
        color: #1f2a44;
    }

        .page-number:hover {
            color: #f59e0b;
        }

    .active-page {
        font-weight: 600;
        color: #f59e0b;
    }

    .page-nav {
        margin: 0 8px;
        cursor: pointer;
        color: #1f2a44;
    }
    .table-footer td {
        border-bottom: 0px;
    }

    .table-footer tr td:first-child {
        border-bottom-left-radius: 10px;
    }

    .table-footer tr td:last-child {
        border-bottom-right-radius: 10px;
    }
</style>
<div class="top-header">

    <div class="top-title">
        <h3>Employees</h3>
    </div>

    <div class="top-actions">
        <select class="form-select filter-select" @bind="selectedDepartmentId" @bind:after="ApplyFilter">>
           <option value="" disabled selected>Department</option>
           @foreach (var dept in departments)
            {
                <option value="@dept.Id">@dept.Name</option>
            }
        </select>
        <select class="form-select filter-select" @bind="selectedDesignationId" @bind:after="ApplyFilter">
            <option value="" disabled selected>Designation</option>
            @foreach (var des in designations)
            {
                <option value="@des.Id">@des.Name</option>
            }
        </select>
        <div class="input-group" style="width:250px;">

            <input type="text"
                   class="form-control"
                   placeholder="Search employees..."
                   @bind="searchText"
                   @oninput="Search" />

            <span class="input-group-text">
                <i class="bi bi-search"></i>
            </span>

        </div>
        <div class="dropdown">
            <button class="btn btn-create dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false">

                <i class="bi bi-box-arrow-up-right"></i> Export (@checkedEmployees.Count)
            </button>

            <ul class="dropdown-menu">

                <li>
                    <button class="dropdown-item" @onclick="ExportPdf"
                            disabled="@(checkedEmployees.Count == 0)">
                        <i class="bi bi-file-earmark-pdf text-danger me-1"></i> Export PDF
                    </button>
                </li>

                <li>
                    <button class="dropdown-item" @onclick="ExportExcel"
                            disabled="@(checkedEmployees.Count == 0)">
                        <i class="bi bi-file-earmark-excel text-success me-1"></i> Export Excel
                    </button>
                </li>

            </ul>
        </div>
        <button class="btn-create" @onclick="OpenModalAsync" disabled="@isLoading">

            @if (isLoading)
            {
                <span class="spinner-border spinner-border-sm me-2"></span>
                <span>Loading..</span>
            }
            else
            {
                <span>+ Create</span>
            }

        </button>
        <button class="btn btn-create " style="color:white ;background:#43536a;" @onclick="Reset">
            <i class="bi bi-arrow-clockwise"></i> Reset
        </button>
    </div>

</div>
@* <div class="filter-bar">

   

    <select class="form-select filter-select">
        <option value="">Status</option>
        <option>Active</option>
        <option>Inactive</option>
    </select>

    <input type="date" class="form-control filter-date">

    

</div> *@
@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
<div class="table-container">
<table class="table employee-table table-hover align-middle mb-0">

            <thead class="table-light">
                <tr>
                    <th>
                        <input type="checkbox" @onchange="CheckAllEmployees" />
                    </th>
                    <th style="width:60px"></th>
                    <th>EmpCode</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Mobile Number</th>
                    <th>Hire Date</th>
                    <th>Department</th>
                    <th>Designation</th>
                    <th>Salary</th>
                    <th class="text-end action-column">Actions</th>
                </tr>
            </thead>

            <tbody>

                @foreach (var emp in employees)
                {
                    <tr>
                        <td>
                            <input type="checkbox"
                                   checked="@checkedEmployees.Contains(emp.Id)"
                                   @onchange="(e) => CheckEmployee(emp.Id, e)" />
                        </td>
                        <td>
                            <img src="@(string.IsNullOrEmpty(emp.Image) ? "/default/avtar.png" : emp.Image)"
                                 class="emp-avatar" />
                        </td>
                        <td>
                            @emp.EmpCode
                        </td>
                        <td>
                            @emp.FirstName @emp.LastName
                        </td>

                        <td>@emp.Email</td>

                        <td>
                            @emp.PhoneNumber
                            @* @if (!string.IsNullOrWhiteSpace(emp.AlternatePhoneNumber))
                            {
                                <br />
                                <small class="text-muted">@emp.AlternatePhoneNumber</small>
                            } *@
                        </td>

                        <td>@emp.HireDate?.ToString("dd MMM yyyy")</td>

                        <td>@emp.Department?.Name</td>

                        <td>@emp.Designation?.Name</td>

                        <td class="fw-semibold">₹ @emp.Salary.ToString("N0")</td>

                        <td class="text-end action-column">
                                <div class="d-flex justify-content-end align-items-center gap-2">
                                        <span class="badge @(emp.IsActive ? "active-badge" : "inactive-badge")">@(emp.IsActive ? "Active" : "Inactive")</span>
                            <div class="action-buttons">

                                <button class="btn btn-icon edit-btn"
                                        title="Edit"
                                        style="border-radius: 6px 0px 0px 6px;"
                                        @onclick="() => EditEmployee(emp.Id)">
                                    <i class="bi bi-pencil"></i>
                                </button>

                                <button class="btn btn-icon delete-btn"
                                        title="Delete"
                                        style="border-radius: 0px 6px 6px 0px;"
                                        @onclick="() => ConfirmDelte(emp.Id)">
                                    <i class="bi bi-trash"></i>
                                </button>

                            </div>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
            <tfoot class="table-light table-footer">
                <tr>
                    <td colspan="11">
                        <div class="d-flex justify-content-end table-pagination">

                            <span class="page-nav"
                                  @onclick="PreviousPage"
                                  style="@(HasPrevious ? "" : "pointer-events:none;opacity:0.4")">
                                <i class="bi bi-chevron-left"></i>
                            </span>

                            @for (int i = 1; i <= Math.Ceiling((double)totalCount / pageSize); i++)
                            {
                                var index = i;
                                <span class="page-number @(pageNumber == index ? "active-page" : "")"
                                      @onclick="() => GoToPage(index)">
                                    @index
                                </span>
                            }

                            <span class="page-nav"
                                  @onclick="NextPage"
                                  style="@(HasNext ? "" : "pointer-events:none;opacity:0.4")">
                                <i class="bi bi-chevron-right"></i>
                            </span>

                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
</div>        
}
<CreateEditEmployee Employee="selectedEmployee"Departments="departments"Designations="designations" Show="show"
                    OnClose="CloseModal"
                    OnSaved="HandleSaved" />
         
<MessagePopup Show="@showMessage" Message="@messageText" IsConfirm="@isConfirmDelete" OnClose="CloseMessage" OnConfirm="DeleteEmployee" />

@code {
    private bool show;
    private bool isLoading;
    private bool showMessage;
    private bool isConfirmDelete;
    private int deleteEmployeeId;
    private int? selectedDepartmentId;
    private int? selectedDesignationId;

    private int pageNumber = 1;
    private int pageSize = 10;
    private int totalCount;

    private string messageText = "";
    private string searchText = "";

    private List<EmployeeDto> employees = new();
    private EmployeeDto selectedEmployee = new();
    private CancellationTokenSource cts { get; set; } = new();
    private List<DepartmentDto> departments = new();
    private List<DesignationDto> designations = new();
    private HashSet<int> checkedEmployees = new();



    private bool HasPrevious => pageNumber > 1;

    private bool HasNext => pageNumber * pageSize < totalCount;

    protected override async Task OnInitializedAsync()
    {
        departments = await DepartmentService.GetAllAsync();
        designations = await DesignationService.GetAllDesignationsAsync();
        await LoadEmployees();
    }

    private async Task LoadEmployees()
    {
        var result = await EmployeeService.GetAllEmployeesAsync(pageNumber, pageSize,searchText,selectedDepartmentId,selectedDesignationId);

        employees = result.Items;
        totalCount = result.TotalCount;
        StateHasChanged();
    }


    private async Task EditEmployee(int id)
    {
        var emp = await EmployeeService.GetEmployeeByIdAsync(id);

        if (emp != null)
            selectedEmployee = emp;
        show = true;
    }
    private async Task HandleSaved()
    {
        show = false;

        await LoadEmployees();
    }
    private void ConfirmDelte(int id)
    {
        deleteEmployeeId = id;
        messageText = "Are you sure you want to delete this employee?";
        isConfirmDelete = true;
        showMessage = true;
    }
    private async Task DeleteEmployee()
    {
        try
        {
            await EmployeeService.DeleteEmployeeAsync(deleteEmployeeId);
            showMessage = false;
            await LoadEmployees();
        }
        catch (Exception e)
        {
            messageText = e.Message;
            showMessage = true;
            isConfirmDelete = false;
        }
    }
    private async Task Search(ChangeEventArgs e)
    {
        searchText = e.Value?.ToString() ?? "";

        cts.Cancel();
        cts = new CancellationTokenSource();

        try
        {
            await Task.Delay(500, cts.Token);
            pageNumber = 1;
            await LoadEmployees();
        }
        catch (TaskCanceledException)
        {
        }
    }
    private async Task ApplyFilter( )
    {
        pageNumber = 1;
        await LoadEmployees();
    }
    private async Task Reset()
    {
        selectedDepartmentId = null;
        selectedDesignationId =null;
        searchText = "";
        pageNumber = 1;
        await LoadEmployees();

    }
    private async Task OpenModalAsync()
    {
        isLoading = true;

        await Task.Delay(300); 

        ShowModal();

        isLoading = false;
    }
    private void ShowModal()
    {
        Console.WriteLine("Create button clicked");
        selectedEmployee = new EmployeeDto();
        show = true;
    }
    private void CloseModal()
    {
        show = false;
    }
    private void CloseMessage()
    {
        showMessage = false;
    }

    private async Task NextPage()
    {
        pageNumber++;
        await LoadEmployees();
    }

    private async Task PreviousPage()
    {
        pageNumber--;
        await LoadEmployees();
    }
    private async Task GoToPage(int page)
    {
        pageNumber = page;
        await LoadEmployees();
    }
    private async Task CheckEmployee(int id ,ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value;
        if (isChecked)
            checkedEmployees.Add(id);
        else
            checkedEmployees.Remove(id);

    }
    private void CheckAllEmployees(ChangeEventArgs e)
    {
        bool isChecked = (bool)e.Value;

        if (isChecked)
        {
            foreach (var emp in employees)
                checkedEmployees.Add(emp.Id);
        }
        else
        {
            foreach (var emp in employees)
                checkedEmployees.Remove(emp.Id);
        }
    }
    private void ExportPdf()
    {
        Console.WriteLine("Export PDF clicked");
    }

    private void ExportExcel()
    {
        Console.WriteLine("Export Excel clicked");
    }
}